[submodule "eressea-source"]
	path = eressea-source
	url = https://github.com/stm2/server.git
	branch = test_server
[submodule "orders-php"]
	path = orders-php
	url = https://github.com/stm2/orders-php.git
	branch = stm/test_server
[submodule "lib/analog"]
	path = lib/analog
	url = https://github.com/jbroadway/analog.git
[submodule "echeck"]
	path = echeck
	url = https://github.com/eressea/echeck.git
