# insert your provider's pop3 server, user name and password

set logfile "<basepath>/log/fetchmail.log"
set idfile "<basepath>/etc/.fetchids"

set daemon 120

poll <servername> protocol <IMAP/POP3> service <port> with :
     user <username> password <pw> with:
     ssl and sslproto "auto" and keep and:
     mda "/usr/bin/procmail -m ERESSEA=<basepath> <basepath>/etc/procmailrc"
