# insert your provider's pop3 server, user name and password

set logfile "%s/log/fetchmail.log"
set idfile "%s/etc/.fetchids"

set daemon 120

poll %s protocol %s service %d with :
     user %s password %s with:
     ssl and sslproto "auto" and keep and:
     mda "/usr/bin/procmail -m ERESSEA=%s %s/etc/procmailrc"
